body{
    background: #FDF5E6;
}

body > header > h3{
    padding: 0.5cm 0cm 0.3cm;  
    text-align: center;
}

section{
	width: 60%;
	height: 60%;
    margin: 0 auto;
}

p{
    color:#3b3247;
    padding: 10px  0px;
}


h1{
    color: #2C6975;
    text-align: center;
    padding: 2px 0px 0px;
}

h6{
    text-align: center;
    padding: 0px 0px 52px;
}

iframe{
    text-align: center;
}

figure{
    text-align: center;
    padding: 22px  0px 0px;
}

nav{
    background-color: rgb(230, 230, 230);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
    font-size: 0;   /* 移除 <li> 之間的空隙 */
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
    text-align: center;
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li a:hover {
    background-color: #4682B4;
    color: rgb(230, 230, 230);
}

section div{
    margin: 0 auto;
}